body{
        background-color: #282828;
        color:white;
        font-family: 'Montserrat', sans-serif;
        overflow:hidden;
    }
    #brand{
        bottom: 0;
        right: 5;
        float: right;
        opacity: 0.7;
    }
   #display-area{
       width:100%;
       height: 100%;
       margin: 0px;
       padding-bottom: 30px;
       position: relative;
       background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
       
   }
   #nspan{
       float: right;
   }
   #dspan{
       opacity: 2;
       z-index: 1;
       color:black;
   }
   .options{
       top: 0;
       background-color: #f3f3f3;
color:black;
       border-radius: 4px;
       padding: 4px;
       display:inline-block;
       border:0.1px solid black;
   }
   .options:hover{
      background-color:black;
color:#f3f3f3;
   }
   #btncon{
       padding: 4px;
   }
   #dialog{
       padding:6px;
       border:1px solid black;
       background-color:white;
       border-radius:3px;
       height: 50px;
       width: 100%;
       position: absolute;
        bottom: 0;
        opacity: 0.8;
        margin-bottom: 10px;
        z-index: 1;
   }
   #c1{
       position:absolute;
       bottom: 0;
       left: 0;
       margin-right: 6%;
       display: block;
       transition: 0.4s;
       width: 300px;
       height: auto;
   }
      #c2{
       position:absolute;
       bottom: 0;
       right: 0;
margin-right: 6%;
       display: block;
       transition: 0.4s;
       width: 300px;
       height: auto;
   }

.overlay {
height: 100%;
width: 0;
position: fixed;
top: 0;
left: 0;
background-color: #C92C61;
overflow-x: hidden;
transition: 1.0s;
z-index: 2;
}
.overlay-content {
position: relative;
display:flex;
flex-direction: row;
justify-content: center;
align-content:center;
top: 25%;
width: 100%;
text-align: center;
}
.overlay a {
padding: 10px;
text-decoration: none;
color: white;
display: block;
transition: 0.3s;
}
.overlay span {
padding: 10px;
text-decoration: none;
color: white;
bottom: 0;
right:0;
display: block;
position: absolute;
transition: 0.3s;
}
.overlay a:hover, 
.overlay a:focus {
    color: black;
    
}
.overlay .closebtn {
position: absolute;
top: 10px;
right: 35px;
}
#nfscreenopt {
display:none;
}
#title {
clip-path: polygon(0 0, 99% 0, 69% 100%, 0% 100%);
text-align:center;
}
#title a {
display:block;
font-family: 'Poppins', sans-serif;
}
#title button {
padding:4px;
background-color: transparent;
border-radius:3px;
border:2px solid white;
}
   @media screen and (max-width: 800px) {
      #c2{
       width: 130px;
       height:auto;
      }
}
}
