body {
        background-color: #282828;
        color:white;
        font-family: 'Montserrat', sans-serif;
        overflow:hidden;
    }
    .brand {
font-family: 'Manrope', sans-serif;
    }
   #display-area {
       width:100%;
       height: 100%;
       margin: 0px;
       padding-bottom: 30px;
       position: relative;
       background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
       
   }
   #nspan {
       float: right;
   }
   #dspan {
       opacity: 2;
       z-index: 1;
font-family: 'Sora', sans-serif;
   }
   #author {
       font-family: 'Sora', sans-serif;
   }
   #screen {
       top: 0;
       background-color: grey;
       opacity:0.7;
       border-radius: 4px;
       padding: 1px;
       display:inline-block;
   }
   .options {
       top: 0;
       background-color: black;
       opacity:0.7;
       border-radius: 4px;
       padding: 6px;
       display:inline-block;
   }
   #btncon {
       padding: 4px;
   }
   #dialog {
       padding:6px;
       color:white;
       background-color:#282828;
       border-radius:1px;
       width: 100%;
       position: absolute;
        bottom: 0;
        opacity: 0.8;
        margin: 10px;
        z-index: 1;
   }
   #c1 {
       position:absolute;
       bottom: 0;
       left: 0;
       margin-right: 6%;
       display: block;
       transition: 0.4s;
       width: auto;
       height: 250px;
   }
      #c2 {
       position:absolute;
       bottom: 0;
       right: 0;
margin-right: 6%;
       display: block;
       transition: 0.4s;
       width: 300px;
       height: auto;
   }
#title {
    height: 100%;
width: 0;
position: fixed;
top: 0;
left: 0;
background-color: #C92C61;
overflow-x: hidden;
transition: 1.0s;
z-index: 2;
}
#title a {
    padding: 10px;
text-decoration: none;
color: white;
display: block;
transition: 0.3s;
}
.overlay {
height: 100%;
width: 0;
position: fixed;
top: 0;
left: 0;
background-color: #9881E9;
overflow-x: hidden;
transition: 1.0s;
z-index: 2;
}
.overlay-content {
position: relative;
display:flex;
flex-direction: row;
justify-content: center;
align-content:center;
top: 25%;
width: 100%;
text-align: center;
}
.overlay a {
padding: 10px;
text-decoration: none;
color: white;
display: block;
font-size: 85px;
transition: 0.3s;
}
.overlay span {
padding: 10px;
text-decoration: none;
color: white;
bottom: 0;
right:0;
display: block;
position: absolute;
transition: 0.3s;
}
.overlay a:hover, 
.overlay a:focus {
    color: black;
    
}
.overlay .closebtn {
position: absolute;
top: 10px;
right: 35px;
font-size: 35px;
}
.moverlay {
height: 100%;
width: 0;
position: fixed;
top: 0;
left: 0;
background-color: #C92C61;
overflow-x: hidden;
transition: 1.0s;
z-index: 2;
}
.moverlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: left;
}
.moverlay a {
padding: 10px;
text-decoration: none;
font-size: 30px;
color: white;
display: block;
transition: 0.3s;
}
.moverlay a:hover, 
.moverlay a:focus {
    color: black;
    
}
.moverlay .closebtn {
position: absolute;
top: 10px;
right: 35px;
font-size: 70px;
}
.toverlay {
height: 100%;
width: 0;
position: fixed;
top: 0;
left: 0;
background-color: #C92C61;
overflow-x: hidden;
transition: 1.0s;
z-index: 2;
}
.toverlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: left;
}
.toverlay a {
padding: 10px;
text-decoration: none;
font-size: 30px;
color: white;
display: block;
transition: 0.3s;
}
.toverlay a:hover, 
.toverlay a:focus {
    color: black;
    
}
.toverlay .closebtn {
position: absolute;
top: 10px;
right: 35px;
font-size: 70px;
}
   @media screen and (max-width: 800px) {
      #c2{
       width: 130px;
       height:auto;
      }
}
}
